
@media only screen and (max-width:600px){
    body{
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('../images/bb.JPG');
        background-size: 100% 100%;
        font-size: 1.5rem;
        background-attachment: scroll;
        background-repeat: no-repeat;
        overflow: hidden;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    header{
        height: 10%;
        margin-top: 1%;
        font-size: 2em;
        position: sticky;
        top: 0;
        color: white;
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        background-image: url('../images/bb.JPG');
        background-size: cover;
    }
    #logo{
        display: flex;
        margin-left: 1%;
        padding-top: 2%;
    }
    #logo1,#infologo{
        display: flex;
    }
    #infologo p{
        margin: 0;
        padding: 0;
    }
    #special{
        color: orange;
        font-weight: bold;
        text-align: center;
    
    }
    #infologo{
        font-size: 2em;
        margin-left: 1%;
        border-left: solid;
        border-color: white;
        border-width: thin;
        height: fit-content;
        width: fit-content;
    }
    #logo1{
        width: 30%;
    }
    #logo1 img{
        width: 100%;
        height: 55%;
    }
    #usersearcher{
        width: 20%;
    }
    #usersearcher i{
        margin-top: 2.5vh;
        margin-right: 2vw;
        font-size: 2.5em;
    }
    #usersearcher i:hover{
        color: orange;
        cursor: pointer;
    }
    #scrollbody{
        max-width: 100%;
        height: 93%;
        display: flex;
        position: relative;
    }
    #sidebar{
        display: flex;
        justify-content: center;
        position:fixed;
        width: 100vw;
        font-size: 1.5em;
        bottom: 0;
        color: white;
        background-color: rgb(0,0,0,.9);
        z-index: 2;
    }
    #sidebar p{
        text-align: center;
    }
    #sidebar img{
        width: 30%;
        aspect-ratio: 1/1;
    
    }
    .imagealign{
        display: flex;
        justify-content: center;
    }
    .innerside{
        width: 100%;
        display: flex;
    }
    .hoverable{
        
        padding-top: .5vh;
        margin-top: 5%;
        width: calc(100%/8);
    }
    .hoverable:hover{
        background-color: rgb(0, 0,0,.5);
        color: orange;
        cursor: pointer;
       
    }
    #games{
        width: 100vw;
        height: 100%;
        overflow-y: scroll;
        padding: 1%;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #games::-webkit-scrollbar{
        display: none;
    }
    .adimage{
        margin-top: 5%;
        width: 100vw;
        height: 10%;
        display: flex;
        justify-content: center;
    }
    .adimage img{
        width: 80%;
        margin-left:10% ;
        height: 7vh;
    }
    .gamescrolling{
        position: relative;
        width: 100%;
        margin-bottom:1%;
        height: 60%;
    }
    .cartegory p{
        font-size: 1em;
        color: white;
    }
    .actualscrolling{
        width: 94vw;
        height: 87%;
        margin-left: 3%;
        overflow: hidden;
        scroll-behavior: smooth;
        display: flex;
        
    }
    .gamecontainer{
        width: fit-content;
        height:100%;
        background-color: rgb(0, 0,0,.5);
        width: 50vw;
        margin-right: 2vw;
        border-radius: 5%;
    }

    .gamename:hover{
        color: orange;
        cursor: pointer;
    }
    .gamecontainer img{
        width: 65vw;
        height: 35vh;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
    }
    .gameinfo{
        font-size: 1em;
        color: white;
        height:fit-content;
    }
    .gamename{
        height:4vh;
        font-size: 1em;
    }
    .additionalinfo{
        display: flex;
        justify-content: space-between;
        color: rgb(163, 159, 159);
        font-size: .5em;
    }
    .sizes{
        font-size: 1.3em;
    }
    .additionalinfo button{
        background-color: transparent;
        font-size: 2em;
        margin-top: 2vh;
        margin-right: .3vw;
        color: rgb(163, 159, 159);
        height: fit-content;
        border-radius: 20%;
        border-color: rgb(163, 159, 159) ;
    
    }
    .rightbutton{
        position:absolute;
        background-color:rgb(0, 0,0,.5);
        outline: none;
        border-radius: 10%;
        color: white;
        margin-left: 88vw;
        margin-top: 30%;
        font-size: 2em;
        z-index: 1;
    }
    .rightbutton:hover{
        color: orange;
        cursor: pointer;
        transform: scale(1.2);
        transition: transform .5s;
    }
    .leftbutton{
        position:absolute;
        background-color:rgb(0, 0,0,.5);
        outline: none;
        border-radius: 10%;
        color: white;
        margin-left: 0vw;
        margin-top: 30%;
        font-size: 2em;
    }
    .leftbutton:hover{
        color: orange;
        cursor: pointer;
        transform: scale(1.2);
        transition: transform .5s;
    }
    footer{
        margin-bottom: 13vh;
        font-size: .5em;
    }
    #chat{
        color: white;
        border-radius: 20%;
        font-size: 1em;
        position: fixed;
        bottom: 19vh;
        right: 5vw;
        z-index: 3;
    }
    #clickchat{
        background-image: url('../images/searchbard.jpg');
        border-radius: 10%;
    }
    #footerdetails{
        display: flex;
        justify-content: space-between;
    }
    #contacts{
        display: flex;
    }
    #contacts p{
        color: white;
        margin-left: 2vw;
    }
    #contacts p:hover{
        color: orange;
        cursor: pointer;
    }
    #copyright{
        color: white;
    }
    #rendersearch{
        position:absolute;
        top:2vh;
        right: 0;
        color: white;
    }
    #searchbar{
        position: fixed;
        right: 0;
        top: 8vh;
        width:50%;
        z-index: 5;
        background-color: rgb(0, 0,0,.7);
        height: 80vh;
        font-size: 1rem;
        animation-name: searchbar;
        animation-duration: .5s;
    
    }
    #searchbar input{
        width:30vw ;
    }
    #searchbar button{
        width:15vw ;
    }
    @keyframes searchbar {
        from{
            transform: scale(0);
        }
        to{
            transform: scale(1);
        }
    }
    .searchTitle{
        background-image: url('../images/searchbard.jpg');
        display: flex;
        justify-content: space-between;
    }
    .searchTitle p{
        padding: 0;
        margin: 0;
        font-size: 1.3em;
    }
    #realsearch{
        display: flex;
        justify-content: center;
    }
    #realsearch input{
        margin-right: 2vw;
        background-color: transparent;
        outline: none;
        color: white;
    }
    #realsearch button{
        background-color:#ff6900;
    }
    #search:hover{
        color: orange;
    }
    .searchbar{
        margin-top: 5vh;
    }
    
    
}/*breakpoint 2*/
@media only screen and (min-width:601px) and (max-width: 768px){
    body{
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('../images/bb.JPG');
        background-size: 100% 100%;
        background-attachment: scroll;
        background-repeat: no-repeat;
        overflow: hidden;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    header{
        height: 7vh;
        margin-top: 1vh;
        position: sticky;
        top: 0;
        color: white;
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        background-image: url('../images/bb.JPG');
        background-size: cover;
    }
    #logo{
        display: flex;
        margin-left: 1vw;
    }
    #logo1,#infologo{
        display: flex;
    }
    #special{
        color: orange;
        font-weight: bold;
        text-align: center;
    
    }
    #infologo{
        margin-left: 2vw;
        border-left: solid;
        border-color: white;
        border-width: thin;
    }
    #logo1{
        width: 1.8vw;
    }
    #logo1 img{
        width: 3.5vw;
    }
    #usersearcher{
        margin-right: 2vw;
    }
    #usersearcher i{
        margin-top: 2.5vh;
        margin-right: 2vw;
        font-size: 1rem;
    }
    #usersearcher i:hover{
        color: orange;
        cursor: pointer;
    }
    #scrollbody{
        max-width: 100%;
        height: 93vh;
        display: flex;
        position: relative;
    }
    #sidebar{
        display: flex;
        justify-content: center;
        position:fixed;
        width: 100vw;
        font-size: .7rem;
        bottom: 0;
        color: white;
        background-color: rgb(0,0,0,.9);
        z-index: 2;
    }
    #sidebar p{
        text-align: center;
    }
    #sidebar img{
        width: 5vw;
        height: 3vh;
    
    }
    .imagealign{
        display: flex;
        justify-content: center;
    }
    .innerside{
        width: 100%;
        display: flex;
    }
    .hoverable{
        
        padding-top: .5vh;
        margin-top: .5vh;
        width: 100%;
        margin-bottom: 3vh;
    }
    .hoverable:hover{
        background-color: rgb(0, 0,0,.5);
        color: orange;
        cursor: pointer;
       
    }
    #games{
        width: 100vw;
        height: 100%;
        overflow-y: scroll;
        padding: 1%;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #games::-webkit-scrollbar{
        display: none;
    }
    .adimage{
        display: flex;
        justify-content: center;
    }
    .adimage img{
        width: 50vw;
        height: 7vh;
    }
    .gamescrolling{
        position: relative;
        width: 100%;
        margin-bottom: 3vh;
        height: 50vh;
    }
    .cartegory p{
        font-size: 1rem;
        color: white;
    }
    .actualscrolling{
        width: 92vw;
        height: 87%;
        margin-left: 3vw;
        overflow: hidden;
        scroll-behavior: smooth;
        display: flex;
        
    }
    .gamecontainer{
        height:fit-content;
        background-color: rgb(0, 0,0,.5);
        width: 45vw;
        margin-right: 4vw;
        border-radius: 5%;
    }
    .gamename:hover{
        color: orange;
        cursor: pointer;
    }
    .gamecontainer img{
        width: 20vw;
        height: 25vh;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
    }
    .gameinfo{
        font-size: 1rem;
        color: white;
        height:fit-content;
    }
    .gamename{
        font-size: 1rem;
        height:4.5vh;
    }
    .additionalinfo{
        display: flex;
        justify-content: space-between;
        color: rgb(163, 159, 159);
    }
    .sizes{
        font-size: .65rem;
    }
    .additionalinfo button{
        background-color: transparent;
        font-size: 1rem;
        margin-top: 2vh;
        margin-right: .3vw;
        color: rgb(163, 159, 159);
        height: fit-content;
        border-radius: 20%;
        border-color: rgb(163, 159, 159) ;
    
    }
    .rightbutton{
        position:absolute;
        background-color:rgb(0, 0,0,.5);
        outline: none;
        border-radius: 10%;
        color: white;
        margin-left: 89vw;
        margin-top: 16vh;
        font-size: 1.5rem;
        z-index: 1;
    }
    .rightbutton:hover{
        color: orange;
        cursor: pointer;
        transform: scale(1.2);
        transition: transform .5s;
    }
    .leftbutton{
        position:absolute;
        background-color:rgb(0, 0,0,.5);
        outline: none;
        border-radius: 10%;
        color: white;
        margin-left: 0vw;
        margin-top: 16vh;
        font-size: 1.5rem;
    }
    .leftbutton:hover{
        color: orange;
        cursor: pointer;
        transform: scale(1.2);
        transition: transform .5s;
    }
    footer{
        margin-bottom: 13vh;
        font-size: .8rem;
    }
    #chat{
        color: white;
        border-radius: 20%;
        font-size: 1.2rem;
        position: fixed;
        bottom: 19vh;
        right: 5vw;
        z-index: 3;
    }
    #clickchat{
        background-image: url('../images/searchbard.jpg');
        border-radius: 10%;
    }
    #footerdetails{
        display: flex;
        justify-content: space-between;
    }
    #contacts{
        display: flex;
    }
    #contacts p{
        color: white;
        margin-left: 2vw;
    }
    #contacts p:hover{
        color: orange;
        cursor: pointer;
    }
    #copyright{
        color: white;
    }
    #rendersearch{
        position:absolute;
        top:2vh;
        right: 0;
        color: white;
    }
    #searchbar{
        position: fixed;
        right: 0;
        top: 8vh;
        width:50vw;
        z-index: 5;
        background-color: rgb(0, 0,0,.7);
        height: 80vh;
        font-size: 1rem;
        animation-name: searchbar;
        animation-duration: .5s;
    
    }
    @keyframes searchbar {
        from{
            transform: scale(0);
        }
        to{
            transform: scale(1);
        }
    }
    .searchTitle{
        background-image: url('../images/searchbard.jpg');
        display: flex;
        justify-content: space-between;
    }
    .searchTitle p{
        padding: 0;
        margin: 0;
    }
    #realsearch{
        display: flex;
        justify-content: center;
    }
    #realsearch input{
        margin-right: 2vw;
        background-color: transparent;
        outline: none;
        color: white;
    }
    #realsearch button{
        background-color:#ff6900;
    }
    #search:hover{
        color: orange;
    }
    .searchbar{
        margin-top: 5vh;
    }
}

/*@media only screen and (min-width: 600px) 

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) */

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) */
@media only screen and (min-width: 768px) and (max-width:992px){
    body{
        margin: 0;
        width: 100vw;
        height: 100vh;
        background-image: url('../images/bb.JPG');
        background-size: 100% 100%;
        background-attachment: scroll;
        background-repeat: no-repeat;
        overflow: hidden;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    header{
        height: 7%;
        margin-top: 1vh;
        position: sticky;
        top: 0;
        color: white;
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        background-image: url('../images/bb.JPG');
        background-size: cover;
    }
    #logo{
        display: flex;
        margin-left: 1vw;
    }
    #logo1,#infologo{
        display: flex;
    }
    #special{
        color: orange;
        font-weight: bold;
        text-align: center;
    
    }
    #infologo{
        margin-left: 2vw;
        border-left: solid;
        border-color: white;
        border-width: thin;
    }
    #logo1{
        width: 1.8vw;
    }
    #logo1 img{
        width: 3.5vw;
    }
    #usersearcher{
        margin-right: 2vw;
    }
    #usersearcher i{
        margin-top: 2.5vh;
        margin-right: 2vw;
        font-size: 1rem;
    }
    #usersearcher i:hover{
        color: orange;
        cursor: pointer;
    }
    #scrollbody{
        max-width: 100%;
        height: 93vh;
        display: flex;
        position: relative;
    }
    #sidebar{
        display: flex;
        justify-content: center;
        position:fixed;
        width: 100vw;
        font-size: .7rem;
        bottom: 0;
        color: white;
        background-color: rgb(0,0,0,.9);
        z-index: 2;
    }
    #sidebar p{
        text-align: center;
    }
    #sidebar img{
        width: 5vw;
        height: 3vh;
    
    }
    .imagealign{
        display: flex;
        justify-content: center;
    }
    .innerside{
        width: 100%;
        display: flex;
    }
    .hoverable{
        
        padding-top: .5vh;
        margin-top: .5vh;
        width: 100%;
        margin-bottom: 3vh;
    }
    .hoverable:hover{
        background-color: rgb(0, 0,0,.5);
        color: orange;
        cursor: pointer;
       
    }
    #games{
        width: 100vw;
        height: 100%;
        overflow-y: scroll;
        padding: 1%;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #games::-webkit-scrollbar{
        display: none;
    }
    .adimage{
        display: flex;
        justify-content: center;
    }
    .adimage img{
        width: 50vw;
        height: 7vh;
    }
    .gamescrolling{
        position: relative;
        width: 100%;
        margin-bottom: 3vh;
        height: 50vh;
    }
    .cartegory p{
        font-size: 1rem;
        color: white;
    }
    .actualscrolling{
        width: 92vw;
        height: 87%;
        margin-left: 3vw;
        overflow: hidden;
        scroll-behavior: smooth;
        display: flex;
        
    }
    .gamecontainer{
        height:fit-content;
        background-color: rgb(0, 0,0,.5);
        width: 40vw;
        margin-right: 10vw;
        border-radius: 5%;
    }
    .gamename:hover{
        color: orange;
        cursor: pointer;
    }
    .gamecontainer img{
        width: 24vw;
        height: 25vh;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
    }
    .gameinfo{
        font-size: 1rem;
        color: white;
        height:fit-content;
    }
    .gamename{
        height:fit-content;
        font-size: 1.2rem;
    }
    .additionalinfo{
        display: flex;
        justify-content: space-between;
        color: rgb(163, 159, 159);
    }
    .sizes{
        font-size: .9rem;
    }
    .additionalinfo button{
        background-color: transparent;
        font-size: 1rem;
        margin-top: 2vh;
        margin-right: .3vw;
        color: rgb(163, 159, 159);
        height: fit-content;
        border-radius: 20%;
        border-color: rgb(163, 159, 159) ;
    
    }
    .rightbutton{
        position:absolute;
        background-color:rgb(0, 0,0,.5);
        outline: none;
        border-radius: 10%;
        color: white;
        margin-left: 89vw;
        margin-top: 16vh;
        font-size: 1.5rem;
        z-index: 1;
    }
    .rightbutton:hover{
        color: orange;
        cursor: pointer;
        transform: scale(1.2);
        transition: transform .5s;
    }
    .leftbutton{
        position:absolute;
        background-color:rgb(0, 0,0,.5);
        outline: none;
        border-radius: 10%;
        color: white;
        margin-left: 0vw;
        margin-top: 16vh;
        font-size: 1.5rem;
    }
    .leftbutton:hover{
        color: orange;
        cursor: pointer;
        transform: scale(1.2);
        transition: transform .5s;
    }
    footer{
        margin-bottom: 13vh;
        font-size: 1.2rem;
    }
    #chat{
        color: white;
        border-radius: 20%;
        font-size: 1.2rem;
        position: fixed;
        bottom: 19vh;
        right: 5vw;
        z-index: 3;
    }
    #clickchat{
        background-image: url('../images/searchbard.jpg');
        border-radius: 10%;
    }
    #footerdetails{
        display: flex;
        justify-content: space-between;
    }
    #contacts{
        display: flex;
    }
    #contacts p{
        color: white;
        margin-left: 2vw;
    }
    #contacts p:hover{
        color: orange;
        cursor: pointer;
    }
    #copyright{
        color: white;
    }
    #rendersearch{
        position:absolute;
        top:2vh;
        right: 0;
        color: white;
    }
    #searchbar{
        position: fixed;
        right: 0;
        top: 8vh;
        width:50vw;
        z-index: 5;
        background-color: rgb(0, 0,0,.7);
        height: 80vh;
        font-size: 1rem;
        animation-name: searchbar;
        animation-duration: .5s;
    
    }
    @keyframes searchbar {
        from{
            transform: scale(0);
        }
        to{
            transform: scale(1);
        }
    }
    .searchTitle{
        background-image: url('../images/searchbard.jpg');
        display: flex;
        justify-content: space-between;
    }
    .searchTitle p{
        padding: 0;
        margin: 0;
    }
    #realsearch{
        display: flex;
        justify-content: center;
    }
    #realsearch input{
        margin-right: 2vw;
        background-color: transparent;
        outline: none;
        color: white;
    }
    #realsearch button{
        background-color:#ff6900;
    }
    #search:hover{
        color: orange;
    }
    .searchbar{
        margin-top: 5vh;
    }
}

@media only screen and (min-width: 991px){
body{
    margin: 0;
    width: 100vw;
    height: fit-content;
    background-image: url('../images/bb.JPG');
    background-size: 100% 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
header{
    height: 10%;
    margin-top: 1vh;
    position: sticky;
    top: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    z-index:2;
    background-image: url('../images/bb.JPG');
    background-size: cover;
}
#logo{
    display: flex;
    margin-left: 1vw;
}
#logo1,#infologo{
    display: flex;
}
#special{
    color: orange;
    font-weight: bold;
    text-align: center;

}
#infologo{
    margin-left: 2vw;
    border-left: solid;
    border-color: white;
    border-width: thin;
}
#logo1{
    width: 1.8vw;
}
#logo1 img{
    width: 3.5vw;
}
#usersearcher{
    margin-right: 2vw;
}
#usersearcher i{
    margin-top:3%;
    margin-right: 2vw;
    font-size: 1.5rem;
}
#usersearcher i:hover{
    color: orange;
    cursor: pointer;
}
#scrollbody{
    max-width: 100%;
    height: 93vh;
    display: flex;
}
#sidebar{
    display: flex;
    justify-content: center;
    width: 7vw;
    height: 98%;
    font-size: .65rem;
    color: white;
    background-color: rgb(0,0,0,.5);
}
#sidebar p{
    text-align: center;
}
#sidebar img{
    width: 2vw;
    height: 3vh;

}
.imagealign{
    display: flex;
    justify-content: center;
}
.innerside{
    width: 100%;
}
.hoverable{
    
    padding-top: .5vh;
    margin-top: .5vh;
    width: 100%;
    margin-bottom: 3vh;
}
.hoverable:hover{
    background-color: rgb(0, 0,0,.5);
    color: orange;
    cursor: pointer;
   
}
#games{
    width: 90vw;
    height: 100%;
    overflow-y: scroll;
    padding: 1%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}
#games::-webkit-scrollbar{
    display: none;
}
.adimage{
    display: flex;
    justify-content: center;
}
.adimage img{
    width: 50vw;
}
.gamescrolling{
    position: relative;
    width: 100%;
    margin-bottom: 3vh;
    height: 60vh;
}
.cartegory p{
    font-size: 1.5rem;
    color: white;
}
.actualscrolling{
    width: 92vw;
    height: 87%;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    
}
.gamecontainer{
    height: fit-content;
    background-color: rgb(0, 0,0,.5);
    width: 38vw;
    margin-left: 2vw;
    border-radius: 5%;
}
.gamename:hover{
    color: orange;
    cursor: pointer;
}
.gamecontainer img{
    width: 13.3vw;
    height: 35vh;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.gameinfo{
    font-size: 1.3rem;
    color: white;
    height:fit-content;
}
.gamename{
    height:fit-content;
    font-size: 1.1rem;
}
.additionalinfo{
    display: flex;
    justify-content: space-between;
    color: rgb(163, 159, 159);
}
.sizes{
    font-size: .65rem;
}
.additionalinfo button{
    background-color: transparent;
    font-size: 1.7rem;
    margin-right: .3vw;
    color: rgb(163, 159, 159);
    margin-top: 1vh;
    height: fit-content;
    border-radius: 20%;
    border-color: rgb(163, 159, 159) ;

}
.scrollergame{
    display: flex;
}
.rightbutton{
    position:absolute;
    background-color:rgb(0, 0,0,.5);
    outline: none;
    border-radius: 10%;
    color: white;
    margin-left: 98%;
    margin-top: 18vh;
    font-size: 3rem;
    z-index: 1;
}
.rightbutton:hover{
    color: orange;
    cursor: pointer;
    transform: scale(1.2);
    transition: transform .5s;
}
.leftbutton{
    position:absolute;
    background-color:rgb(0, 0,0,.5);
    outline: none;
    border-radius: 10%;
    color: white;
    margin-left: 1vw;
    margin-top: 18vh;
    font-size: 3rem;
}
.leftbutton:hover{
    color: orange;
    cursor: pointer;
    transform: scale(1.2);
    transition: transform .5s;
}
footer{
    margin-bottom: 2vh;
}
#chat{
    color: white;
    border-radius: 20%;
    font-size: 1.5rem;
    position: fixed;
    bottom: 4vh;
    right: 5vw;
}
#clickchat{
    background-image: url('../images/searchbard.jpg');
    border-radius: 10%;
}
#footerdetails{
    display: flex;
    justify-content: space-between;
}
#contacts{
    display: flex;
}
#contacts p{
    color: white;
    margin-left: 1vw;
}
#contacts p:hover{
    color: orange;
    cursor: pointer;
}
#copyright{
    color: white;
}
#rendersearch{
    position:absolute;
    top:2vh;
    right: 0;
    color: white;
}
#searchbar{
    position: fixed;
    right: 0;
    top: 8vh;
    width:30vw;
    z-index: 5;
    background-color: rgb(0, 0,0,.7);
    height: 93vh;
    font-size: 1.2rem;
    animation-name: searchbar;
    animation-duration: .5s;

}
    #searchbar i {font-size:1.5em}
@keyframes searchbar {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.searchTitle{
    background-image: url('../images/searchbard.jpg');
    display: flex;
    justify-content: space-between;
}
.searchTitle p{
    padding: 0;
    margin: 0;
}
#realsearch{
    display: flex;
    justify-content: center;
}
#realsearch input{
    margin-right: 2vw;
    background-color: transparent;
    outline: none;
    color: white;
}
#realsearch button{
    background-color:#ff6900;
}
#search:hover{
    color: orange;
}
.searchbar{
    margin-top: 5vh;
}
}
